# Book rental shop on Jupyter notebook

In [34]:
import cx_Oracle as ora

### DB 연결 함수
- 사용법

In [35]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name = 'orcl')
    conn = ora.connect(user = 'scott', password = 'tiger', dsn = dsn, encoding = 'utf-8')
    return conn

### Divtbl 전체 조회
- 사용법
> getAlldataFromDivtbl(conn)

In [36]:
def GetAllDataFromDivtbl(conn):
    cur = conn.cursor()
    query = 'SELECT * FROM divtbl'
    for row in cur.execute(query):
        print(row)

### Divtbl에 신규 장르 정보 입력
- 사용법
> setDataIntoDivtbl(conn, tup)

> tup = (division, names)

In [37]:
def SetDataIntoDivtbl(conn, tup):
    cur = conn.cursor()
    query = 'INSERT INTO divtbl (division, names) VALUES (:1, :2)'
    cur.execute(query, tup)
    cur.close()
    conn.commit() # commit

### 책 대여 프로그램 시작

In [38]:
scott_con = myconn()
print('접속')

접속

### 책 장르 정보 조회
- GetAllDataFromDivtbl(scott_con)

In [47]:
GetAllDataFromDivtbl(scott_con)

('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')

### 책 장르 정보 입력

In [48]:
division = 'I002'
names = '장르'
tup = (division, names)
SetDataIntoDivtbl(scott_con, tup)
GetAllDataFromDivtbl(scott_con)

('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I002', '장르')

### 책 장르 삭제

In [45]:
def deleteDivision(conn, division):
    cur = conn.cursor()
    query = 'DELETE FROM divtbl WHERE division = :1'
    cur.execute(query, (division,)) # 데이터가 하나면 튜플로 변경하면서 (ㅇ,) 쉼표를 넣어줘야 한다.
    conn.commit()

In [46]:
division = 'I101'
deleteDivision(scott_con, division)